p, ol, ul{
    color: white;
}
h1, h2, h3 {
    color: #ffbf00;
}
h4{
    color: #36BFBF;
}
table, th , tr, td, main {
    border: 1px solid black
    color: white;
}
span{
    font-weight: bold;
    color: #5888A6;
}
nav{
    color: #9780A6;
}
p.dialogo{
    font-weight: bold;
}
body {
    background-image: url("img/escriba.png");
background-repeat:repeat ;
background-position: right top;
background-attachment: fixed;
background-blend-mode: multiply;
background-size: cover;
background-color: #befa70;
}